.certification--wrapper {
  padding-top: 80px;
}

.certification__title {
  font-size: 32px;
  font-family: $font-bold;
  margin-bottom: 50px;
}

.certification__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.certification__item {
  width: 25%;
}

.certification__image {
  width: 260px;
  height: auto;
  box-shadow: 0px 4px 30px rgba(14, 100, 163, 0.15);
}

.certification__text {
  color: $grey-dark;
  font-family: $font-medium;
  font-size: 14px;
  text-align: center;
  padding-right: 40px;
}
