.container {
  margin: 0 auto;
  width: 100%;

  @media (min-width: 576px) { //мобильное меню
    max-width: 540px;
    min-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (min-width: 768px) { //планшетное меню
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    max-width: 1224px;
  }
}
