.container {
  margin: 0 auto;
  min-width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;

  @media (min-width: 768px) { //планшетное меню
    min-width: 708px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 992px) {
    min-width: 932px;
  }

  @media (min-width: 1200px) {
    min-width: 1140px;
    max-width: 1224px;
  }

  @media (min-width: 1400px) {
    width: 1224px;
  }
}
