@font-face {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat"),
       local("Montserrat Regular"),
       url('../fonts/montserrat-regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat Medium';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat"),
       local("Montserrat Medium"),
       url('../fonts/montserrat-medium.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat"),
       local("Montserrat Bold"),
       url('../fonts/montserrat-bold.woff') format('woff');
}