.nav__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
  font-family: $font-medium;
  font-size: 14px;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;

  @media (min-width: 992px) {
    flex-direction: row;
    align-items: center;
  }
}

.nav__link {
  text-decoration: none;
  color: $text-dark;
  padding: 10px 15px;
  display: inline-block;
  transition: all 0.5s ease;

  &:hover {
    color: $blue-light;
  }

  &:active {
    color: $blue-light;
  }

  &:focus {
    color: $blue-light;
  }

  &--active {
    color: $blue-light;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.nav__address {
  font-size: 14px;
  font-style: normal;
  color: $text-dark;
  font-family: $font-medium;
  margin-bottom: 30px;

  @media (min-width: 992px) {
    display: none;
  }
}

.nav__phone {
  font-size: 14px;
  font-style: normal;
  color: $text-dark;
  font-family: $font-medium;
  margin-bottom: 30px;
  display: block;
  text-decoration: none;

  &:hover {
    color: $blue-light;
  }

  &:active {
    color: $blue-light;
  }

  &:focus {
    color: $blue-light;
  }

  @media (min-width: 768px) {
    display: none;
  }
}