.page {
  font-family: $main-font;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $black;
  height: 100%;
  overflow-x: hidden;
}

.page-modal {
  overflow-y: hidden;
  padding-right: 17px;
}

.page__body {
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
}