/*color*/
$black: #000000;
$white: #ffffff;
$blue-light: #26B1DD;
$blue-dark: #0170A5;
$grey: #f3f3f3;
$grey-dark: #747B91;
$text-dark: #242240;
$blue-bg: #E9F3FF;
$blue-light-bg: #F4F9FF;
$transparent: rgba(0, 0, 0, 0);

/*font*/
$main-font: "Montserrat Regular", "Arial", sans-serif;
$font-medium: "Montserrat Medium", "Arial", sans-serif;
$font-bold: "Montserrat Bold", "Arial", sans-serif;


